In [15]:
import numpy as np

In [1]:
import pandas as pd

In [2]:
from titanic_visualizations import survival_stats
from IPython.display import display
%matplotlib inline

In [3]:
in_file='titanic_data.csv'

In [4]:
full_data=pd.read_csv(in_file)

In [5]:
display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
outcomes = full_data['Survived']
data = full_data.drop('Survived',axis = 1)

In [7]:
display(data.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
def accuracy_score(truth,prediction):
    if(len(prediction)==len(truth)):
        return "Predictions have an accuracy of {:.2f}%.".format((truth == prediction).mean()*100)
    else:
        return "Number of predictions does not match number of outcomes!"

In [9]:
prediction=pd.Series(np.ones(5,dtype=int)) #testing the accuracy with dummy

NameError: name 'np' is not defined

In [ ]:
accuracy_score(outcomes[:5], prediction)

In [ ]:
def predict_dead(data):
    prediction = []
    for _, passenger  in data.iterrows():
        prediction.append(0)
    return pd.Series(prediction)

In [ ]:
predictions = predict_dead(data)

In [ ]:
accuracy_score(outcomes, predictions)

In [ ]:
survival_stats(data, outcomes, 'Sex')

In [ ]:
# so I guess lads threw their lief to save the ladies
# so if it is a female then i can predict that she is survived

In [ ]:
def predict_alive(data):
    prediction = []
    for _, passenger in data.iterrows():
        if passenger['Sex']=='male':
            prediction.append(0)
        else: 
            prediction.append(1)
    
    return pd.Series(prediction)

In [ ]:
predictions = predict_alive(data)

In [ ]:
accuracy_score(outcomes, predictions)

In [ ]:
survival_stats(data, outcomes, 'Age', ["Sex == 'male'"])

In [ ]:
def predictions_2(data):
    """ Model with two features: 
            - Predict a passenger survived if they are female.
            - Predict a passenger survived if they are male and younger than 10. """
    
    predictions = []
    for _, passenger in data.iterrows():
        if passenger['Sex']== 'female':
            predictions.append(1)
        elif passenger['Sex']=='male' and passenger['Age']<=10:
            predictions.append(1)
        else:
            predictions.append(0)
    
    return pd.Series(predictions)

predictions = predictions_2(data)

In [ ]:
accuracy_score(outcomes, predictions)

In [ ]:
survival_stats(data, outcomes, 'Age', ["Sex == 'male'", "Age < 18"])

In [ ]:
survival_stats(data, outcomes, 'Pclass', ["Age > 40", "Pclass == 3"])

In [ ]:
data.head()

In [ ]:
survival_stats(data, outcomes, 'Embarked', ["Embarked == 'S'", "Age > 10"])

In [10]:
def predictions_on_class(data):
    
    predictions = []
    for _, passenger in data.iterrows():
        if passenger['Pclass'] == 3 and passenger['Age']>=20:
            predictions.append(0)
        elif passenger['Fare']>=300:
            predictions.append(1)
        elif passenger['Sex']== 'female':
            predictions.append(1)
        elif passenger['Sex']=='male' and passenger['Age']<=10:
            predictions.append(1)
        else:
            predictions.append(0)
    
    return pd.Series(predictions)

predictions = predictions_on_class(data)
accuracy_score(outcomes, predictions)

'Predictions have an accuracy of 80.70%.'

In [11]:
data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200